<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt>
    <title>Book</title>
    <link rel="icon" href="../img/oro.png">
    <link rel="stylesheet" href="../styles/book.css">
    <script defer type="module" src="../cookies.js"></script>
    <script defer type="module" src="../carry.js"></script>
</head>
<body>
    <header class="header">
        <img id="home" src="/img/oro.png">
        <div class="div-search">
            <input id="input-search" type="text">
        </div>
        <img src="/img/carry.png" id="carry">
    </header>
        
    <main class="main">
        <div class="div-foto"><img id="imgPath" src=""></div>
        <div class="div-info">
            <h1 id ="title"></h1>
            <h3 id= "price">13€</h3>
            <i>Brandom Sanderson</i>
            <br><br>
            <p id="content"></p>
            <button class="btn-add-carry">Agregar a carrito</button>
        </div>
    </main>
        <section>
            <div class="div-rel-books"><h1>Libros relacionados</h1></div>
            <div class="div-fotos"></div>
        </section>
    <footer>
    </footer>
</body>
</html>