<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WayneBooks</title>
    <link rel="icon" href="../img/oro.png">
    <link rel="stylesheet" href="../styles/index.css">
    <script defer type="module" src="../index.js"></script>
</head>
<body>
    <header>
        <img id="home" src="/img/oro.png">
        <div class="div-search">
            <h1 id="title">WayneBooks</h1>
            <input id="input-search" placeholder="Title, Author...">
        </div>
        <div class="div-register">
            <a href="https://twitter.com/karlos_vass"><img class="img-register" alt="personal-twiter" src="https://imgs.search.brave.com/L9rYX1IzC00s2LVdbjEK1271VHy9wfNuGQies9H63Xg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ncmFm/ZmljYS5hbXMzLmRp/Z2l0YWxvY2VhbnNw/YWNlcy5jb20vMjAy/My8wNy9yUVlYcVM1/di1GMXlTZG05V1lB/SWJqSG8tMTAyNHgx/MDI0LmpwZWc"></a>
            <a href="https://github.com/karlosvas"><img class="img-register" alt="personal-github" src="https://imgs.search.brave.com/oPZZeMhAsbzjFAzG52GshxzWZZa5XOAbynJGeHaQm-A/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/aWNvbm9zLWdyYXRp/cy9naXRodWJfMzE4/LTY5ODE4OC5qcGc_/c2l6ZT02MjYmZXh0/PWpwZw"></a>
           <button>Login</button>
            <button>Register</button>
        </div>
    </header>
    
    <main>
        <!-- <div class="div-scroll-info"></div> -->
        <div class="div-fotos"></div>
    </main>
        
    <footer></footer>
</body>
</html>