*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: rgb(19,19,19);
    overflow-y: scroll;
}

input{
    background-color: rgb(245, 245, 255);
    padding: 5px 10px;
    min-width: 25%;
    font-size: 15px;
    font-family: monospace;
    color: #000;
    outline-color: rgb(241, 114, 9);
}

.div-header{
    z-index: 10;
    position:sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 100%;
    min-height: 11%;
    background-color: rgb(19,19,19);
    & img{
        max-width: 60px;
        max-height: 60px;
        margin-right: 50px;
    }
    & .div-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 20px;
        color: rgb(255, 132, 75);
        text-shadow: 0 0 3px rgb(241, 114, 9);
    }
}

.div-main{
    padding-top: 100px;
    color: rgb(245, 245, 255);
    min-height: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(243, 122, 67);
    & .div-foto{
        height: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        & img{
            margin-right: 100px;
            height: 30vw;
            border-radius: 10px;
        }
    }
    & .div-info{
        padding: 20px;
        & p{
            max-width: 800px;
        }
    }
    & .btn-carry{
        margin-top: 4vw;
        padding: 0.5em;
        font-size: 20px;
        background-color: rgb(31, 31, 31);
        color: rgb(220, 238, 255);
        border-radius: 5px;
    }
}

@media screen and (max-width: 600px){
    .div-header{
        & input{
            max-width: 100%;
            margin-right: 40px;
        }
        & #home{
           width: 50px;
           height: 50px;
           margin: 0 10px;
        }
        & #carry{
            margin-right: 10px;
        }
    }
    
    .div-main{
        padding: 50px 0;
        flex-wrap: wrap;
        & .div-foto > img{
            margin-right: 0;
            width: 50%;
            height: 50%;
        }
    }
}

.carry-list{
    z-index: 10;
    position: fixed;
    border-radius: 5px;
    right: -100px;
    top: 100px;
    height: 80%;
    width: 15%;
    color: #000;
    padding: 20px;
    margin-top: 40px;
    margin-right: 130px;
    background: rgb(245, 245, 255);
    transition: opacity 0.2s ease, max-height 0.2s ease;
}

.carry-list.active {
    opacity: 1;
    color: #000;
}

.div-fotos{
    background-color: rgb(194, 94, 48);
    padding-left: 150px;
    & img{
        margin: 40px;
        max-width: 250px;
        max-height: 380px;
        border-radius: 3px;
        object-fit: cover;
    }
}

.delate-img{
    width: 10px;
    height: 10px;
}

.div-producto{
    color: #000;
    display: flex;
    align-content: center;
    width: 100%;
    height: 20px;
    margin-top: 15px;
}

.numBook{
    position: absolute;
    right: 50px;
}

.btn-product{
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
}

input::selection{
    background: rgb(241, 114, 9);
    color:  rgb(245, 245, 255);
}

.div-producto > p::selection{
    background: rgb(241, 114, 9);
    color:  rgb(245, 245, 255);
}

.carry-list::selection{
    background: rgb(241, 114, 9);
    color:  rgb(245, 245, 255);
}

#home:hover{
    background-color: rgba(0, 0, 0, 0.404);
}

#carry{
    border-radius: 50px;
    height: 50px;
    margin-right: 60px;
}

#lupa{
    height: 20px;
    width: 20px;
}

#home{
    margin-left: 40px;
    height: 60px;
    width: 60px;
    border-radius: 20px;
}

::selection{
    color: rgb(241, 114, 9);
    background-color:  rgb(245, 245, 255);
}

#numBooks{
    width: 15px;
    height: 20px;
    margin-bottom: -20px;
    margin-right: 5px;
}

#btn-search{
    margin-left: 10px;
    font-weight: 20px;
    height: 30px;
    width: 70px;
    position: absolute;
}

.priceBooks{
    padding-left: 20px;
}

#totalBooks{
    position: absolute;
    bottom: 60;
    right: 40;
    font-size: 40px;
}