*{
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

.div-main{
    height: 100vw;
    display: flex;
    position: relative;
    background-color: rgb(114, 112, 238);
}

.div-foto{
    margin: 40px;
}

.div-info {
    margin: 40px;
}

.div-header{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 5vw;
    position: relative;
}

ul > li{
    display: inline;
}

.div-header img{
    max-width: 60px;
    max-height: 60px;
    margin-right: 50px;
}

p{
    width: 800px;
    margin-top: 20px;
}

button{
    margin-top: 4vw;
    padding: 0.5em;
    font-size: 20px;
    background-color: rgb(39, 39, 39);
    color:aliceblue;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(59, 59, 59);
}

.carry-list{
    right: -200px;
    opacity: 0;
    max-height: 0;
    width: 15%;
    overflow: hidden;
    color: black;
    padding: 20px;
    margin-top: 20px;
    background: aliceblue;
    position: relative;
    transition: opacity 0.2s ease, max-height 0.2s ease;
}

.carry-list.active {
    opacity: 1;
    max-height: 80%;
}

.carry-list > b{
    color: black;
}

.div-foto > img{
    max-height: 600px;
}